.App {
  display: flex;
  justify-content: center;
  align-items: center;

  & > form{
    margin-top: 7%;
    margin-left: 10%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #000;
    width: 500px;
    height: 500px;

    & > button{
      margin: 3% 3% 3% 5%;
      border: 1px solid #fff;
      background-color: #f2f2f2;
      padding: 5px 20px;
      font-weight: 600;
      font-size: 11pt;
    }

    & > input[type=file]{
      margin: 84px 3% 3% 3%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    & > div{
      display: flex;
      justify-content: center;
      align-items: center;

      & > button{
        position: absolute;
        margin-bottom: 5%;
        border: 1px solid #fff;
        background-color: #f2f2f2;
        padding: 5px 20px;
        font-weight: 600;
        font-size: 11pt;
        bottom: 0;
      }


      & > table{
        width: 500px;
        padding: 0 50px 0 50px;

        & > thead{
          width: 400px;
          font-weight: 600;

          & > td{
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  & > div{
    margin-top: 7%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #000;
    width: 500px;
    height: 500px;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > p{

      margin-top: 30px;
      & > input[type=checkbox]{
        margin-left: 50px;
        margin-bottom: 10px;
      }

      & > label{
        margin-left: 30px;
        margin-bottom: 10px;
      }
    }
  }


}